.pagination{
    list-style: none;
}
.pagination li {
    margin: 0 5px;
}

.pagination a{
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}
.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination li.activePagination{
    background-color: rgb(255,100,0);
    border-radius: 4px;
    color: white;
}